* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f4f4;
  line-height: 1.6;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f4b67a;
  padding: 20px 70px;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 2px solid #d49e6c;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

nav ul li a:hover {
  color: #6b4d2b;
}

/* Home */
.home {
  height: 100vh;
  background: linear-gradient(90deg, #f3e5d0, #f8d7a8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-left {
  max-width: 600px;
  text-align: center;
}

.home-left h1 {
  font-size: 46px;
}

.home-left span {
  color: #f77f08;
}

/* Section */
section {
  background: linear-gradient(90deg, #f3e5d0, #f8d7a8);
  margin: 20px;
  padding: 60px 40px;
  border-radius: 10px;
}

/* About */
.about {
  height: 100vh;
  display: flex;
  gap: 200px;
  align-items: flex-start;
}

.about-left {
  width: 40%;
}

/* Right side */
.about-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.info-box {
  background: #ffffff;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.info-box h3 {
  margin-bottom: 15px;
}
/* Skills Section */
.skills-title {
  text-align: center;
  margin-bottom: 40px;
}

/* Horizontal layout */
.skills-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

/* White skill cards */
.skills-box {
  background: #ffffff;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.skills-box h3 {
  margin-bottom: 20px;
  font-size: 18px;
}

/*  skills */
.skill {
  margin-bottom: 18px;
}

.skill-title {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin-bottom: 5px;
}

.skill-bar {
  height: 10px;
  background: #ddd;
  border-radius: 10px;
  overflow: hidden;
}

.skill-level {
  height: 10px;
}

.purple { background: #a680ff; }
.blue { background: #4da3ff; }
.green { background: #6ccd89; }
.pink { background: #ff7aa8; }
.red { background: #670326; }

/* Projects */
#projects h1 {
  text-align: center;
}

.project-card {
  background: #ffffff;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 10px;
}

/* Footer */
footer {
  text-align: center;
  background: #222;
  color: white;
  padding: 15px;
}
